#navBar h1 {
    color: darkcyan;
    margin: 0;
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 5px;
    /* width:200px; */
}

#userInfo label {
    color: darkcyan;
    font-weight: bold;
    background-color: lightgreen;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#navBar {
    background-color: rgba(32, 201, 151, .1);
    padding: 20px 35px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    /* border:1px solid black; */
    filter:
        drop-shadow(5px 5px 0px rgba(32, 201, 151, 1))
        /* drop-shadow(3px 5px 0px green) */
        drop-shadow(-5px -5px 0px lime);
}

#userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}
@media only screen and (max-width:500px) {
    #navBar h1 {
        padding: 10px 0px;
    }
    #navBar{
        padding: 0;
    }
}