#sum-wrapper{
    width: 100%;
    display: flex;
    justify-content:center;
    /* border-top:1px solid green; */
}
#box{
    box-shadow: 4px 4px #777;
    width:100%;
}
#breadCrumbs{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}
#navButton:hover{
    background-color:limegreen;
}
#navButton:focus{
    background-color:limegreen;
}
#navButton:left{
    background-color:limegreen;
}